body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #191919;
  background-color: #fafafa;
  transition: background-color 1s ease;
}

header {
  margin: 30px 0px 0px 30px;
  font-family: SF Pro Display Regular;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  letter-spacing: -1px;
}

header a,
footer a {
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}

header nav ul,
footer nav ul {
  display: flex;
}

header nav ul li,
footer nav ul li {
  margin-right: 30px;
}

.auth_main {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.auth_main .form {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.auth_main .form h1 {
  font-family: SF Pro Display Light;
  font-size: 70px;
  letter-spacing: -1.5px;
}

.auth_main .main_form {
  margin-top: 45px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #191919;
  padding: 8px 0;
  font-size: 25px;
  font-family: "SF Pro Display Light";
  outline: none;
  background: transparent;
  margin-bottom: 25px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #191919;
  font-size: 25px;
}

.auth_main .form .button_auth,
.contact_block .button_contact {
  border: 1.5px solid #191919;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_main .form .button_auth a,
.contact_block .button_contact a {
  font-family: SF Pro Display Light;
  font-size: 30px;
  text-decoration: none;
  color: #191919;
  cursor: pointer;
  letter-spacing: -1px;
}

.auth_main .picture {
  width: 60%;
  margin-left: 100px;
}

.auth_main .picture img {
  width: 100%;
}

.back_header {
  background: url(../img/promo_image.jpg);
}

.about_main {
  margin: 100px 30px 0px 30px;
}

.about_main .head {
  display: flex;
}

.about_main .head .info_block {
  width: 60%;
}

.about_main .head .title,
.about_main .history .title_history,
.about_main .contacts .title {
  display: flex;
  font-family: "SF Pro Display Light";
  font-size: 60px;
  letter-spacing: -1.5px;
}

.about_main .head .line {
  margin: 0px 10px;
}

.about_main .text_about {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  margin-top: 50px;
  width: 80%;
  line-height: 1.3;
}

.about_main .info_block .line_down {
  margin-top: 40px;
}

.about_main .image_about {
  width: 45%;
}

.about_main .image_about img {
  width: 80%;
  margin-left: 120px;
}

.about_main .history {
  margin-top: 30px;
}

.about_main .history .line {
  width: 65%;
  margin-left: 35px;
}

.about_main .text_history {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  margin-top: 50px;
  width: 60%;
  line-height: 1.3;
}

.about_main .history_images {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.about_main .history_images .history_image {
  width: 32%;
  height: 60%;
}

.about_main .history_images .line_image {
  height: 320px;
}

.about_main .contacts {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.about_main .contact_block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
}

.about_main .contact_info {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  margin-top: 25px;
  width: 100%;
  line-height: 1.3;
}

.contact_block .button_contact {
  height: 35px;
}

.contact_block .button_contact a {
  font-size: 22px;
}

.about_main .contact_image {
  width: 90%;
}

.about_main .contact_image img {
  width: 95%;
  margin-left: 50px;
}

footer .line {
  margin: 60px 30px 0 30px;
}

footer .navigation {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 50px 30px;
  font-family: SF Pro Display Regular;
  font-size: 30px;
  letter-spacing: -1px;
}

footer .rights {
  opacity: 0.4;
}
