body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #191919;
  background-color: #fafafa;
  transition: background-color 1s ease;
  overflow-x: hidden;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateY(-100%);
}

.fullscreen-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu-list {
  padding: 0;
  margin: 0px 0px 30px 30px;
}

.menu-link {
  font-family: SF Pro Display Regular;
  display: inline-block;
  font-size: 70px;
  color: #191919;
  text-decoration: none;
  padding: 15px 20px;
  margin: 10px 0;
  position: relative;
  transition: all 0.3s ease;
}

.menu-link:hover {
  color: #303030;
}

.menu-link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 3px;
  background: #333;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.menu-link:hover::after {
  width: 90%;
}

header {
  margin: 30px 0px 0px 30px;
  font-family: SF Pro Display Regular;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  letter-spacing: -1px;
}

header a,
footer a,
header button {
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}

header nav ul,
footer nav ul {
  display: flex;
}

header nav ul li,
footer nav ul li {
  margin-right: 30px;
}

header button,
header .color_button {
  background: transparent;
  border: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  margin-top: -3px;
}

header .color_button {
  color: #191919;
}

.auth_main {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.auth_main .form {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.auth_main .form h1 {
  font-family: SF Pro Display Light;
  font-size: 70px;
  letter-spacing: -1.5px;
}

.auth_main .main_form {
  margin-top: 45px;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #191919;
  padding: 8px 0;
  font-size: 25px;
  font-family: "SF Pro Display Light";
  outline: none;
  background: transparent;
  margin-bottom: 25px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder {
  color: #191919;
  font-size: 25px;
}

.auth_main .form .button_auth,
.contact_block .button_contact,
.good_info .button_contact {
  border: 1.5px solid #191919;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_main .form .button_auth a,
.contact_block .button_contact a,
.good_info .button_contact a {
  font-family: SF Pro Display Light;
  font-size: 30px;
  text-decoration: none;
  color: #191919;
  cursor: pointer;
  letter-spacing: -1px;
}

.auth_main .picture {
  width: 60%;
  margin-left: 100px;
}

.auth_main .picture img {
  width: 100%;
}

.about_main,
.book_main,
.space_main,
.poster_main,
.good_main,
.catalog_main,
.hero_main,
.cart_main,
.error_main {
  margin: 100px 30px 0px 30px;
}

.about_main .head {
  display: flex;
}

.about_main .head .info_block {
  width: 60%;
}

.about_main .head .title,
.about_main .history .title_history,
.contacts .title,
.book_main .title,
.space_main .title,
.space_main .gate_info .title,
.poster_main .title,
.catalog_main .title,
.hero_main .title,
.cart_main .title,
.error_main .title {
  display: flex;
  font-family: "SF Pro Display Light";
  font-size: 60px;
  letter-spacing: -1.5px;
}

.about_main .head .line,
.book_main .title .line,
.hero_main .title .line {
  margin: 0px 10px;
}

.about_main .text_about,
.space_main .text_about,
.space_main .gate_info .text,
.space_main .temple_info .text,
.poster_main .text_about,
.hero_about .text_about,
.cart_main .good {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  margin-top: 50px;
  width: 80%;
  line-height: 1.3;
}

.about_main .info_block .line_down {
  margin-top: 40px;
}

.about_main .image_about {
  width: 45%;
}

.about_main .image_about img {
  width: 80%;
  margin-left: 120px;
}

.about_main .history {
  margin-top: 30px;
}

.about_main .history .line {
  width: 65%;
  margin-left: 35px;
}

.about_main .text_history {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  margin-top: 50px;
  width: 60%;
  line-height: 1.3;
}

.about_main .history_images,
.hero_main .history_images {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.about_main .history_images .history_image,
.hero_main .history_images .history_image {
  width: 32%;
  height: 60%;
}

.about_main .history_images .line_image,
.hero_main .history_images .line_image {
  height: 320px;
}

.contacts {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.contact_block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
}

.contact_info {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  margin-top: 25px;
  width: 100%;
  line-height: 1.3;
}

.contact_block .button_contact {
  height: 35px;
}

.contact_block .button_contact a {
  font-size: 22px;
}

.contact_image {
  width: 90%;
}

.contact_image img {
  width: 95%;
  margin-left: 50px;
}

footer .line {
  margin: 60px 30px 0 30px;
}

.hero_merch .line {
  margin-top: 90px;
}

footer .navigation {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 50px 30px;
  font-family: SF Pro Display Regular;
  font-size: 30px;
  letter-spacing: -1px;
}

footer .rights {
  opacity: 0.4;
}

.book_main .title {
  margin-bottom: 50px;
}

.space_main .title .line {
  margin: 0 18px;
}

.space_main .about_block {
  display: flex;
  justify-content: space-between;
}

.space_main .about_block .text_about {
  width: 35%;
}

.space_main .image_space {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.space_main .image_space .img_1 {
  width: 66%;
}

.space_main .image_space .img_2 {
  width: 33%;
}

.space_main .gate_block {
  margin-top: 70px;
}

.space_main .gate_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.space_main .gate_info .title {
  margin-top: 0px;
}

.space_main .gate_info .text {
  width: 60%;
  margin-top: 10px;
}

.space_main .temple_block {
  margin-top: 70px;
}

.space_main .temple_info .text {
  width: 53%;
}

.space_main .temple_image {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.space_main .temple_image .img_1 {
  width: 50%;
}

.space_main .temple_image .img_2 {
  width: 49%;
  height: 25%;
}

.poster_main .about_block {
  display: flex;
  justify-content: space-between;
}

.poster_main .title .line {
  margin-left: 6px;
}

.poster_main .text_about {
  width: 30%;
}

.poster_main .line_opacity {
  opacity: 0;
}

.poster_main .line_down {
  margin: 5px 0px 5px 45px;
}

.poster_main .typography_posters {
  margin-top: 10px;
}

.poster_main .typography_posters .title {
  margin-left: 530px;
}

.poster_main .typography_posters .posters {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}

.poster_main .typography_posters .poster .poster_img,
.poster_main .typography_posters .poster_2 .poster_img {
  width: 80%;
}

.poster_main .typography_posters .poster .subtitle,
.poster_main .typography_posters .poster_2 .subtitle,
.poster_main .graphic_posters .poster .subtitle,
.hero_posters .posters .poster .subtitle {
  font-family: SF Pro Display Light;
  font-size: 20px;
  letter-spacing: -1px;
}

.poster_main .typography_posters .poster_line {
  display: flex;
  margin-left: 90px;
}

.poster_main .typography_posters .poster_2 {
  margin-left: -70px;
}

.poster_main .graphic_posters .poster_line_down {
  margin-top: 10px;
}

.poster_main .graphic_posters .posters {
  display: flex;
  margin-left: 350px;
  margin-top: 30px;
}

.poster_main .graphic_posters .poster {
  margin-right: 10px;
}

.poster_main .graphic_posters .poster .poster_img {
  width: 100%;
}

.good_main {
  margin-top: 50px;
}

.good_main .nav {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.3;
}

.good_main .nav a {
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}

.good_main .good_gallery {
  width: 60%;
}

.good_main .good_gallery .main_image {
  width: 90%;
}

.good_main .gallery {
  display: flex;
}

.good_main .good_gallery .image {
  width: 16.85%;
  border: 1px solid #191919;
  margin-right: 10px;
}

.good_main .good_card {
  display: flex;
  margin-top: 20px;
}

.good_main .good_info {
  width: 40%;
}

.good_main .good_info .title,
.good_main .good_info .price {
  font-family: "SF Pro Display Light";
  font-size: 60px;
  letter-spacing: -1.5px;
}

.good_main .good_info .description,
.hero_merch .products .good_card p {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  margin-top: 25px;
  width: 100%;
  line-height: 1.3;
}

.hero_merch .products .good_card p {
  margin: 5px 0px 15px 0px;
}

.good_main .good_info .price {
  font-size: 50px;
}

.good_main .good_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.good_info .button_contact {
  margin-top: 35px;
  height: 45px;
}

.good_info .button_contact a {
  font-size: 25px;
}

.catalog_main .catalog {
  margin-top: 80px;
  display: flex;
}

.catalog_main aside {
  width: 15%;
  border-right: 2px solid #191919;
  margin-top: 20px;
}

.catalog_main aside p {
  font-family: "SF Pro Display Regular";
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.3;
}

.catalog_main aside li {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.3;
}

.catalog_main .goods {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.catalog_main .goods .goods_line,
.hero_merch .products .goods_line {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
  margin-top: 20px;
  gap: 25px;
}

.hero_merch .products .goods_line {
  margin-top: 80px;
}

.catalog_main .goods .good_card,
.hero_merch .products .good_card {
  width: 100%;
}

.catalog_main .goods .good_card .good_image,
.hero_merch .products .good_card .good_image {
  width: 100%;
}

.catalog_main .goods .good_card .name,
.catalog_main .goods .good_card .button_buy a,
.hero_merch .products .good_card .button_buy a {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.3;
  margin: 5px 0 10px 0;
  text-decoration: none;
  color: #191919;
}

.catalog_main .goods .good_card .button_buy,
.hero_merch .products .good_card .button_buy {
  border: 2px solid #191919;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header_main {
  background: url(../img/promo_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  color: #f6f6f6;
}

.header_main .head_block {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.header_main .head_block .logo {
  margin-left: 30px;
}

.header_main a {
  color: #f6f6f6;
}

.header_main .hero_middle {
  margin: 0 0 50px 30px;
}

.header_main .hero_middle .hero_title {
  display: flex;
  flex-direction: row;
}

.header_main .hero_middle h1 {
  font-size: 155px;
  line-height: 0.8;
}

.header_main .hero_middle .ref {
  font-size: 40px;
  margin-top: 100px;
}

.header_main .hero_middle .subheading {
  font-family: "SF Pro Display Light";
  font-size: 45px;
  margin-bottom: 20px;
}

.hero_main .description {
  display: flex;
}

.hero_main .description .text_block {
  margin-left: 580px;
}

.hero_main .text_block .button_more a,
.hero_space .description_block .button_more a,
.hero_posters .button_more a {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.3;
  margin: 5px 0 10px 0;
  text-decoration: none;
  color: #191919;
}

.hero_main .text_block .button_more,
.hero_space .description_block .button_more,
.hero_posters .button_more {
  margin-top: 50px;
  border: 2px solid #191919;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.hero_space {
  margin-top: 100px;
}

.hero_space .about_block {
  display: flex;
  justify-content: space-between;
}

.hero_space .about_block .image {
  width: 65%;
}

.hero_space .about_block .line_description {
  margin: 0 30px;
}

.hero_space .about_block {
  margin-top: 30px;
}

.hero_space .about_block .text_about {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  width: 100%;
  line-height: 1.3;
}

.hero_space .description_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero_space .description_block .button_more {
  width: 100%;
}

.hero_about .button_more:hover,
.hero_space .description_block .button_more:hover {
  background-color: #bdbdbd;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.hero_about .button_more:hover a,
.hero_space .description_block .button_more:hover a {
  color: #2a2a2a;
}

.hero_posters {
  margin-top: 70px;
}

.hero_posters .title .line {
  margin-left: 43px;
}

.hero_posters .posters {
  display: flex;
  margin-top: 50px;
}

.hero_posters .posters .poster .poster_img {
  width: 95%;
}

.hero_posters .button_more {
  margin-top: 100px;
  width: 100%;
}

.hero_calendar {
  margin-top: 70px;
}

.hero_calendar .month {
  font-family: "SF Pro Display Light";
  font-size: 35px;
  letter-spacing: -1px;
  margin-top: 15px;
}

.hero_calendar .cards {
  margin-top: 40px;
}

.hero_calendar .card_line {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.hero_calendar .card img {
  width: 99%;
}

.hero_calendar .card .date,
.hero_calendar .card .subtitle {
  font-family: "SF Pro Display Regular";
  font-size: 22px;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

.hero_calendar .card .subtitle {
  font-family: "SF Pro Display Light";
  margin-top: 5px;
  margin-bottom: 0px;
}

.hero_merch {
  margin-top: 80px;
}

.hero_calendar .head_block,
.hero_merch .head_block {
  display: flex;
  justify-content: space-between;
}

.hero_calendar .button,
.hero_merch .button {
  display: flex;
}

.hero_calendar .button img,
.hero_merch .button img {
  margin-left: 10px;
  margin-bottom: 20px;
}

.hero_merch .button a {
  text-decoration: none;
  color: #191919;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
}

.modal .content_block {
  background-color: #fafafa;
  animation: modalopen 0.3s;
  margin: 15% auto;
  padding: 30px;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.modal .form_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal .headline {
  font-family: "SF Pro Display Light";
  font-size: 45px;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.modal button {
  margin-top: 60px;
  font-family: "SF Pro Display Light";
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 1.3;
  height: 45px;
  text-decoration: none;
  color: #191919;
  background: transparent;
  border: 1.5px solid #191919;
  width: 100%;
}

.modal .image_block {
  width: 55%;
}

.modal .modal_image {
  width: 100%;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subhead_animation {
  animation: fade_slide 1s ease-out forwards;
  opacity: 0;
  animation-delay: 0.2s;
}

@keyframes fade_slide {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.header_main .hero_title h1 {
  letter-spacing: -2px;
  line-height: 0.85;
}

.hero_animation {
  background: linear-gradient(90deg, #fafafa, #ececec);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: time_pulse_head 4s infinite ease-in-out;
  animation-delay: 1s;
}

@keyframes time_pulse_head {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.99);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.header_main .logo a,
.header_main nav ul li a,
.header_page_animate .logo a,
.header_page_animate nav ul li a {
  animation: fade_slide 1s ease-out forwards;
  opacity: 0;
  animation-delay: 0.3s;
  transition: all 0.1s ease;
}

.header_page .logo a:hover,
.header_page nav ul li a:hover,
header button:hover {
  color: #888888;
  animation-delay: 1s;
  transition: all 0.6s ease;
}

.header_main .logo a:hover,
.header_main nav ul li a:hover,
header .color_button:hover {
  color: #b9b9b9;
  animation-delay: 1s;
  transition: all 0.6s ease;
}

.glitch {
  position: relative;
  animation: glitch-effect 2s infinite;
}

.glitch::before {
  text-shadow: 2px 0 #434343;
  clip: rect(0, 900px, 0, 0);
  animation: glitch-anim 1s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
  0%,
  100% {
    text-shadow: 1.5px 0 #d9d9d9, -1.5px 0 #828282;
  }
  25% {
    text-shadow: -1.5px 0 #d9d9d9, 1.5px 0 #828282;
  }
}

.cart_main {
  margin-top: 120px;
}

.cart {
  display: flex;
  justify-content: space-between;
}

.cart .cart_block {
  width: 65%;
}

.cart .cart_block .title {
  margin-bottom: 80px;
}

.cart_main .good {
  display: flex;
  justify-content: space-between;
}

.cart_main .good {
  margin: 20px 0;
}

.cart .check_block {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cart .line_block {
  width: 3%;
}

.cart .count_info,
.cart .count_sum {
  display: flex;
  justify-content: space-between;
}

.cart .check_block {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

.cart .button_buy {
  margin-top: 50px;
  border: 2px solid #191919;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .button_buy a {
  font-family: "SF Pro Display Light";
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.3;
  margin: 5px 0 10px 0;
  text-decoration: none;
  color: #191919;
}

.smooth_blink_image {
  animation: smoothBlink 1.5s infinite ease-in-out;
  opacity: 0.2;
  margin: 0px 10px;
}

@keyframes smoothBlink {
  0%,
  100% {
    opacity: 0.2;
    filter: brightness(1);
  }
  50% {
    opacity: 1;
    filter: brightness(1.2);
  }
}

.blink-image {
  transition: opacity 1s ease-in-out;
}

.error_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.error_main .head,
.error_main .footer {
  display: flex;
  align-items: center;
}

.error_main .margin {
  margin-left: 20px;
}

.error_main .subhead,
.error_main .subhead_footer {
  font-size: 40px;
  margin-left: 20px;
}

.error_main .middle_block {
  display: flex;
  justify-content: space-between;
}

.error_main .footer .title_footer {
  font-size: 69px;
}

.error_main .subhead_footer {
  margin-left: 0px;
}

.hero_calendar a {
  text-decoration: none;
  color: #191919;
}
