@font-face {
  font-family: "SF Pro Display Light";
  src: url(../fonts/SF-Pro-Display-Light.otf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url(../fonts/SF-Pro-Display-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
